
.menu {
  position: absolute;
  margin: 0;
  list-style: none;
  display: none;
  z-index: 1000;
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  font-family: serif;
  background: #FFF;
  color: #333;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.menu > * {
  text-align: center;
  display: block;
  float: left;
  cursor: pointer;
  margin: 0;
  box-sizing: content-box;
  height: 1em;
  line-height: 1em;
  padding: .5em .6em;
}

.menu .action {
  min-width: 1em;
}

.menu .separator {
  border-right: 1px solid #ccc;
  padding: .5em 0;
}

.menu .action:hover {
  background-color: #DEF;
}

.menu .bold {
  font-weight: bold;
}
.menu .italic {
  font-style: italic;
}
.link {
  font-family: bold;
}