article {
  font-family: 'Lora', serif;
  width: 90%;
  max-width: 960px;
  margin: 3em auto;
  padding: 1em;
}

article h1 {
  padding: 0 0 .5em;
  margin: 0;
  line-height: 1.3;
}

article p {
  margin: 0;
  padding: 0 0 1em;
}

ul {
  padding-left: 20px;
}